<div class="about-background">

</div>
<div class="container">
        <div class="col-xs-12 col-md-6 about-image">
            <img src="./images/system/logo.png" width="550" height"550">
        </div>
        <div class="col-xs-12 col-md-6 about-text">
            <h2>ჩვენს შესახებ</h2>
            <div class="about-text-container">
                <p>კომპანია "პროსერვისი" წარმოადგენს განვითარებაზე ორიენტირებულ მუდმივად მზარდი ტიპის კომპანიას. Pro-Service 2003 წლიდან მოღვაწეობს და ქართული ბაზრის ლიდერია ინტერნეტ პროექტების დაგეგმვისა და განხორციელების სფეროში. მთელი ამ ხნის მანძილზე თამამად შეიძლება ითქვას, რომ კომპანია არ ღალატობს მის ძირითად პრინციპებს: პროფესიონალიზმს , პასუხისმგებლობას და საქმის ერთგულებას . დღეისთვის Pro-Service ემსახურება ათასზე მეტ ორგანიზაციასა და კერძო პირს. კომპანიას თანამშრომლობის დიდი გამოცდილება აქვს ,როგორც კორპორატიულ კლიენტებთან, ასევე პორტალური ვებ გვერდების ავტორებთან. სწორედ მათი მრავალწლიანი ნდობა და ჩვენდამი ერთგული დამოკიდებულება განსაზღვრავს კომპანია პროსერვისის რეპუტაციასა და იმიჯს. კომპანიის ძირითადი ბირთვი მაღალკვალიფიციურ პროფესინალთა გუნდია, რომელიც თავის მომხმარებლებს მხოლოდ მაღალ ტექნოლოგიურ და ადმინისტრაციულ ბაზაზე დაფუძნებულ მაღალხარისხიან მომსახურებას სთავაზობს. ესაა შეკრული პროფესიონალთა ჯგუფი, რომელიც უმაღლეს დონეზე ასრულებს ნებისმიერი სირთულის პროექტს და ამოცანას. Pro-Service ესაა მომხმარებლის ინტერესებზე მომართული კომპანია, რომლის პრიორიტეტია პროფესიონალურ დონეზე მართოს საკუთარი სერვისი, დააკმაყოფილოს კლიენტებისა და პარტნიორების მზარდი მოლოდინი. ჩვენ ვცდილობთ დავნერგოთ ახალი ტენდეციები და სიახლეები, რაც არა მარტო კომპანიის მომავალ განვითარებას უწყობს ხელს, არამედ ბაზრის მზარდი მოთხოვნების უზრინველსაყოფადაა მომართული. ჩვენი მიზანია, მზარდი ბიზნესის გარემოშიც კი მაქსიმალურად დავაკმაყოფილოთ მომხმარებლის ინტერესები. შექვმნათ ბაზრისთვის და კლიენტებისთვის ისეთი პირობები რაც ხელს შეუწყობს მთლიანად ინტერნეტ სფეროს განვითარებას. </p>
            </div>
        </div>
    </div>
   