<div class="tour-details-background">
</div>

<div class="tour-details">
        <div class="container">
            <div class="thumbnail col-xs-12 details-thumbnail">
                <img class="tour-img col-xs-5 col-md-3" src="img/svaneti.jpg">
                <div class="caption about">
                    <h3>სვანეთი</h3>
                    <p><span class="bolderer">სვანეთი</span> — საქართველოს ისტორიულ-გეოგრაფიული მხარე. იგი მოიცავს კავკასიონის ქედის სამხრეთ კალთებს და მდინარეების ენგურისა და ცხენისწყლის ზემოწელს. სვანეთი — საქართველოს ისტორიულ-გეოგრაფიული მხარე. იგი მოიცავს კავკასიონის ქედის სამხრეთ კალთებს და მდინარეების ენგურისა და ცხენისწყლის ზემოწელს.</p>
                </div>
            </div>
            <div class="about-tour">
                <div class="simple-details col-sm-5 col-xs-12">
                    <h4>სამდღიანი ტური სვანეთში</h4>
                    <span class="bolderer">მარშრუტი:</span> თბილისი - ზუგდიდი - მესტია - უშგული - თბილისი;
                    <br>
                    <span class="bolderer">ტურის სახეობა:</span> კულტურულ შემეცნებითი, სათავგადასავლო;
                    <br>
                    <span class="bolderer">სატრანსპორტო საშუალება:</span> JEEP Mitsubishi Delica, NiSSAN XTERA.
                    <br>
                    <span class="bolderer">კვება:</span> სამჯერადი; (გზის კვების გარდა)
                    <br>
                    <span class="bolderer">განთავსება:</span> საოჯახო სასტუმრო;
                    <br>
                    <span class="bolderer">ტურის ხანგძლივობა:</span> 2 ღამე / 3 დღე;
                    <br>
                    <span class="bolderer">მანძილი:</span> ერთი მიმართულებით 540 კმ.
                    <br>
                    <span class="bolderer">ფასი:</span> 50cent
                    <br>
                    <span class="bolderer">ღირებულებაში შედის:</span> ტრანპორტირება კომფორტული ჯიპებით - Mistubishi Delica; ღამისთევა საოჯახო ტიპის სასტუმროში 2 ღამე; სამჯერადი კვება; ინგლისური და რუსულენოვანი გიდის მომსახურეობა;
                    <h3 class="photo-album"><span class="glyphicon glyphicon-picture"></span>ფოტო ალბომი</h3>
                    <div class="album-in-tour-details col-xs-12">
                        <a href="#">
                            <div class="col-sm-9 col-sm-offset-1 min-size det-alb-backg">
                                <img src="img/samusha1.jpg" alt="..." class="img-thumbnail">
                                <h4 class="album-title col-xs-12 text-center">სვანეთი</h4>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="main-details col-sm-7 col-xs-12">
                    <h4>ტურის დეტალური აღწერა</h4>
                    <span class="bolderer">პირველი დღე:</span> თბილისი - ენგურის წყალსაცავი - ლატალი - მესტია
                    <br> პირველ დღეს ვნახავთ: მაცხოვრისა და მთავარანგელოზის ტაძრები სოფ. ლატალში, მესტია. გასვლა თბილისიდან სვანეთის მიმართულებით; სოფელი ლატალი მესტია. დაბინავება სასტუმროში. ვახშამი. ღამისთევა.
                    <br>
                    <span class="bolderer">მეორე დღე:</span> მესტია - უშგული - მესტია
                    <br> მეორე დღეს ვნახავთ: სიყვარულის კოშკი, უშგულის ეთნოგრაფიული მუზეუმი, თამარ მეფის საზამთრო და საზაფხულო კოშკები, ლამარიას ციხე-კოშკი. გამგზავრება უშგულის მიმართულებით; გზად სოფელ იფართან შეგვხვდება ე.წ. ქვაზე აშენებული სიყვარულის კოშკი; უშგული (აქ სურვილის შემთხვევაში შესაძლებელია ცხენების ქირაობა 40 ლარად). სოფელი კალა სადაც თუ საკმარისი დრო იქნა ვნახავთ ლაგურკის ანუ წმ. კვირიკეს და ივლიტას სახელობის ეკლესიას (XII ს - ის მხატვრობა). დაბრუნება მესტიაში. ვახშამი. ღამისთევა. ფეხით სავალი მონაკვეთი: უშგულში 500 მეტრი.
                    <br>
                    <span class="bolderer">მესამე დღე:</span> მესტია - ჰაწვალი - თბილისი
                    <br> მესამე დღეს ვნახავთ: მესტიის ეთნოგრაფიული მუზეუმი, ხერგიანების მუზეუმი, სათხილამურო საბაგირო მესტიაში (ჰაწვალის მთა). საუზმე; მესტიის ტურის განმავლობაში ვნახავთ ხერგიანების მუზეუმს, მესტიის ეთნოგრაფიულ მუზეუმს, მაცხოვრის ორსართულიან ტაძარს. საბაგიროთი გასეირნება ჰაწვალის მთაზე საიდანაც იშლება მწვერვალ "უშბას" ულამაზესი პანორამული ხედები; სადილი მესტიაში და გამომგზავრება თბილისის მიმართულებით; დაბრუნება თბილისში დაუვიწყარი შთაბეჭდილებებით
                </div>
            </div>
            <h3 class="book col-xs-12">ტურის დაჯავშნა</h3>
            <div class='trip-form col-xs-12'>
                <form>
                    <div class="row">
                        <div class="col-md-4 inputContainer">
                            <label for="exampleInputPassword1">სახელი</label>
                            <input type="text" class="form-control" placeholder="სახელი">
                        </div>
                        <div class="col-md-4 inputContainer">
                            <label for="exampleInputPassword1">გვარი</label>
                            <input type="text" class="form-control" placeholder="გვარი">
                        </div>
                        <div class="col-md-4 inputContainer">
                            <label for="exampleInputFile">დაბადების თარიღი</label>
                            <input type="text" class="form-control" placeholder="ტელეფონის ნომერი">
                        </div>
                        <div class="col-md-4 inputContainer">
                            <label for="exampleInputFile">პირადი ნომერი</label>
                            <input type="text" class="form-control" placeholder="ტელეფონის ნომერი">
                        </div>
                        <div class="col-md-4 inputContainer">
                            <label for="exampleInputPassword1">მეილი</label>
                            <input type="email" class="form-control" id="exampleInputPassword1" placeholder="მეილი">
                        </div>
                        <div class="col-md-4 inputContainer">
                            <label for="exampleInputFile">ტელეფონის ნომერი</label>
                            <input type="text" class="form-control" placeholder="ტელეფონის ნომერი">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success success submitForm">დაჯავშნა</button>
                </form>
            </div>
        </div>
    </div>