
    <div class="tours-background"">
    
    </div>


    <div class="tours">
        <div class="geo-tours">
            <h1>ტურები საქართველოში</h1>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <a href="tour-details.html">
                        <div class="thumbnail tours-thumbnail">
                            <img class="pull-left" src="images/system/sky.jpg" alt="...">
                            <div class="caption">
                                <h3>TITLE</h3>
                                <p>თბილისი (1936 წლამდე ტფილისი[1][2]) — საქართველოს დედაქალაქი; 1922–1936 წლებში ერთდროულად იყო ამიერკავკასიის სფსრ დედაქალაქი; მდებარეობს აღმოსავლეთ საქართველოში, თბილისის ქვაბულში, მდინარე მტკვრის ორივე სანაპიროზე, ზღვის დონიდან 380–600 მ სიმაღლეზე.</p>
                                <span class="price pull-right">ფასი: 150 ლარი</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm-6">
                    <a href="tour-details.html">
                        <div class="thumbnail tours-thumbnail">
                            <img class="pull-left" src="images/system/sky.jpg" alt="...">
                            <div class="caption">
                                <h3>TITLE</h3>
                                <p>თბილისი (1936 წლამდე ტფილისი[1][2]) — საქართველოს დედაქალაქი; 1922–1936 წლებში ერთდროულად იყო ამიერკავკასიის სფსრ დედაქალაქი; მდებარეობს აღმოსავლეთ საქართველოში, თბილისის ქვაბულში, მდინარე მტკვრის ორივე სანაპიროზე, ზღვის დონიდან 380–600 მ სიმაღლეზე.</p>
                                <span class="price pull-right">ფასი: 150 ლარი</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm-6">
                    <a href="tour-details.html">
                        <div class="thumbnail tours-thumbnail">
                            <img class="pull-left" src="images/system/sky.jpg" alt="...">
                            <div class="caption">
                                <h3>TITLE</h3>
                                <p>თბილისი (1936 წლამდე ტფილისი[1][2]) — საქართველოს დედაქალაქი; 1922–1936 წლებში ერთდროულად იყო ამიერკავკასიის სფსრ დედაქალაქი; მდებარეობს აღმოსავლეთ საქართველოში, თბილისის ქვაბულში, მდინარე მტკვრის ორივე სანაპიროზე, ზღვის დონიდან 380–600 მ სიმაღლეზე.</p>
                                <span class="price pull-right">ფასი: 150 ლარი</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm-6">
                    <a href="tour-details.html">
                        <div class="thumbnail tours-thumbnail">
                            <img class="pull-left" src="images/system/sky.jpg" alt="...">
                            <div class="caption">
                                <h3>TITLE</h3>
                                <p>თბილისი (1936 წლამდე ტფილისი[1][2]) — საქართველოს დედაქალაქი; 1922–1936 წლებში ერთდროულად იყო ამიერკავკასიის სფსრ დედაქალაქი; მდებარეობს აღმოსავლეთ საქართველოში, თბილისის ქვაბულში, მდინარე მტკვრის ორივე სანაპიროზე, ზღვის დონიდან 380–600 მ სიმაღლეზე.</p>
                                <span class="price pull-right">ფასი: 150 ლარი</span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    