        <div class="trips-background">
        
        </div>

        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="thumbnail trips-thumbnail">
                        <img class="pull-left" src="images/system/trip.jpg" alt="...">
                        <div class="caption trips-caption">
                            <h3>TITLE</h3>
                            <p>თბილისი (1936 წლამდე ტფილისი[1][2]) — საქართველოს დედაქალაქი; 1922–1936 წლებში ერთდროულად იყო ამიერკავკასიის სფსრ დედაქალაქი; მდებარეობს აღმოსავლეთ საქართველოში, თბილისის ქვაბულში, მდინარე მტკვრის ორივე სანაპიროზე, ზღვის დონიდან 380–600 მ სიმაღლეზე, ჩრდილოეთით ესაზღვრება საგურამოს ქედის სამხრეთი მთისწინეთი, აღმოსავლეთით — ივრის ზეგნის ჩრდილო-დასავლეთი მონაკვეთი, დასავლეთით და სამხრეთით კი — თრიალეთის ქედის განშტოებები. ქალაქს 720 კმ² ფართობი უჭირავს და 1.152 მილიონზე მეტი მცხოვრები ჰყავს.</p>
                            <button type="button" class="btn btn-primary clicked">დაჯავშნა</button>
                            <div class='hidden trip-form'>
                                <form>
                                    <div class="row">
                                        <div class="col-md-4 col-xs-12 inputContainer">
                                            <label for="exampleInputPassword1">სახელი</label>
                                            <input type="text" class="form-control" placeholder="სახელი">
                                        </div>
                                        <div class="col-md-4 col-xs-12 inputContainer">
                                            <label for="exampleInputPassword1">გვარი</label>
                                            <input type="text" class="form-control" placeholder="გვარი">
                                        </div>
                                        <div class="col-md-4 col-xs-12 inputContainer">
                                            <label for="exampleInputFile">დაბადების თარიღი</label>
                                            <input type="text" class="form-control" placeholder="ტელეფონის ნომერი">
                                        </div>
                                        <div class="col-md-4 col-xs-12 inputContainer">
                                            <label for="exampleInputFile">პირადი ნომერი</label>
                                            <input type="text" class="form-control" placeholder="ტელეფონის ნომერი">
                                        </div>
                                        <div class="col-md-4 col-xs-12 inputContainer">
                                            <label for="exampleInputPassword1">მეილი</label>
                                            <input type="email" class="form-control" id="exampleInputPassword1" placeholder="მეილი">
                                        </div>
                                        <div class="col-md-4 col-xs-12 inputContainer">
                                            <label for="exampleInputFile">ტელეფონის ნომერი</label>
                                            <input type="text" class="form-control" placeholder="ტელეფონის ნომერი">
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-success success submitForm">დადასტურება</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="thumbnail trips-thumbnail">
                        <img class="pull-left" src="images/system/trip1.jpg" alt="...">
                        <div class="caption trips-caption">
                            <h3>TITLE</h3>
                            <p>თბილისი (1936 წლამდე ტფილისი[1][2]) — საქართველოს დედაქალაქი; 1922–1936 წლებში ერთდროულად იყო ამიერკავკასიის სფსრ დედაქალაქი; მდებარეობს აღმოსავლეთ საქართველოში, თბილისის ქვაბულში, მდინარე მტკვრის ორივე სანაპიროზე, ზღვის დონიდან 380–600 მ სიმაღლეზე, ჩრდილოეთით ესაზღვრება საგურამოს ქედის სამხრეთი მთისწინეთი, აღმოსავლეთით — ივრის ზეგნის ჩრდილო-დასავლეთი მონაკვეთი, დასავლეთით და სამხრეთით კი — თრიალეთის ქედის განშტოებები. ქალაქს 720 კმ² ფართობი უჭირავს და 1.152 მილიონზე მეტი მცხოვრები ჰყავს.</p>
                            <button type="button" class="btn btn-primary clicked">დაჯავშნა</button>
                            <div class='hidden trip-form'>
                                <form>
                                    <div class="row">
                                        <div class="col-md-4 col-xs-12 inputContainer">
                                            <label for="exampleInputPassword1">სახელი</label>
                                            <input type="text" class="form-control" placeholder="სახელი">
                                        </div>
                                        <div class="col-md-4 col-xs-12 inputContainer">
                                            <label for="exampleInputPassword1">გვარი</label>
                                            <input type="text" class="form-control" placeholder="გვარი">
                                        </div>
                                        <div class="col-md-4 col-xs-12 inputContainer">
                                            <label for="exampleInputFile">დაბადების თარიღი</label>
                                            <input type="text" class="form-control" placeholder="ტელეფონის ნომერი">
                                        </div>
                                        <div class="col-md-4 col-xs-12 inputContainer">
                                            <label for="exampleInputFile">პირადი ნომერი</label>
                                            <input type="text" class="form-control" placeholder="ტელეფონის ნომერი">
                                        </div>
                                        <div class="col-md-4 col-xs-12 inputContainer">
                                            <label for="exampleInputPassword1">მეილი</label>
                                            <input type="email" class="form-control" id="exampleInputPassword1" placeholder="მეილი">
                                        </div>
                                        <div class="col-md-4 col-xs-12 inputContainer">
                                            <label for="exampleInputFile">ტელეფონის ნომერი</label>
                                            <input type="text" class="form-control" placeholder="ტელეფონის ნომერი">
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-success success submitForm">დადასტურება</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="thumbnail trips-thumbnail">
                        <img class="pull-left" src="images/system/trip.jpg" alt="...">
                        <div class="caption trips-caption">
                            <h3>TITLE</h3>
                            <p>თბილისი (1936 წლამდე ტფილისი[1][2]) — საქართველოს დედაქალაქი; 1922–1936 წლებში ერთდროულად იყო ამიერკავკასიის სფსრ დედაქალაქი; მდებარეობს აღმოსავლეთ საქართველოში, თბილისის ქვაბულში, მდინარე მტკვრის ორივე სანაპიროზე, ზღვის დონიდან 380–600 მ სიმაღლეზე, ჩრდილოეთით ესაზღვრება საგურამოს ქედის სამხრეთი მთისწინეთი, აღმოსავლეთით — ივრის ზეგნის ჩრდილო-დასავლეთი მონაკვეთი, დასავლეთით და სამხრეთით კი — თრიალეთის ქედის განშტოებები. ქალაქს 720 კმ² ფართობი უჭირავს და 1.152 მილიონზე მეტი მცხოვრები ჰყავს.</p>
                            <button type="button" class="btn btn-primary clicked">დაჯავშნა</button>
                            <div class='hidden trip-form'>
                                <form>
                                    <div class="row">
                                        <div class="col-md-4 col-xs-12 inputContainer">
                                            <label for="exampleInputPassword1">სახელი</label>
                                            <input type="text" class="form-control" placeholder="სახელი">
                                        </div>
                                        <div class="col-md-4 col-xs-12 inputContainer">
                                            <label for="exampleInputPassword1">გვარი</label>
                                            <input type="text" class="form-control" placeholder="გვარი">
                                        </div>
                                        <div class="col-md-4 col-xs-12 inputContainer">
                                            <label for="exampleInputFile">დაბადების თარიღი</label>
                                            <input type="text" class="form-control" placeholder="ტელეფონის ნომერი">
                                        </div>
                                        <div class="col-md-4 col-xs-12 inputContainer">
                                            <label for="exampleInputFile">პირადი ნომერი</label>
                                            <input type="text" class="form-control" placeholder="ტელეფონის ნომერი">
                                        </div>
                                        <div class="col-md-4 col-xs-12 inputContainer">
                                            <label for="exampleInputPassword1">მეილი</label>
                                            <input type="email" class="form-control" id="exampleInputPassword1" placeholder="მეილი">
                                        </div>
                                        <div class="col-md-4 col-xs-12 inputContainer">
                                            <label for="exampleInputFile">ტელეფონის ნომერი</label>
                                            <input type="text" class="form-control" placeholder="ტელეფონის ნომერი">
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-success success submitForm">დადასტურება</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="thumbnail trips-thumbnail">
                        <img class="pull-left" src="images/system/trip1.jpg" alt="...">
                        <div class="caption trips-caption">
                            <h3>TITLE</h3>
                            <p>თბილისი (1936 წლამდე ტფილისი[1][2]) — საქართველოს დედაქალაქი; 1922–1936 წლებში ერთდროულად იყო ამიერკავკასიის სფსრ დედაქალაქი; მდებარეობს აღმოსავლეთ საქართველოში, თბილისის ქვაბულში, მდინარე მტკვრის ორივე სანაპიროზე, ზღვის დონიდან 380–600 მ სიმაღლეზე, ჩრდილოეთით ესაზღვრება საგურამოს ქედის სამხრეთი მთისწინეთი, აღმოსავლეთით — ივრის ზეგნის ჩრდილო-დასავლეთი მონაკვეთი, დასავლეთით და სამხრეთით კი — თრიალეთის ქედის განშტოებები. ქალაქს 720 კმ² ფართობი უჭირავს და 1.152 მილიონზე მეტი მცხოვრები ჰყავს.</p>
                            <button type="button" class="btn btn-primary clicked">დაჯავშნა</button>
                            <div class='hidden trip-form'>
                                <form>
                                    <div class="row">
                                        <div class="col-md-4 col-xs-12 inputContainer">
                                            <label for="exampleInputPassword1">სახელი</label>
                                            <input type="text" class="form-control" placeholder="სახელი">
                                        </div>
                                        <div class="col-md-4 col-xs-12 inputContainer">
                                            <label for="exampleInputPassword1">გვარი</label>
                                            <input type="text" class="form-control" placeholder="გვარი">
                                        </div>
                                        <div class="col-md-4 col-xs-12 inputContainer">
                                            <label for="exampleInputFile">დაბადების თარიღი</label>
                                            <input type="text" class="form-control" placeholder="ტელეფონის ნომერი">
                                        </div>
                                        <div class="col-md-4 col-xs-12 inputContainer">
                                            <label for="exampleInputFile">პირადი ნომერი</label>
                                            <input type="text" class="form-control" placeholder="ტელეფონის ნომერი">
                                        </div>
                                        <div class="col-md-4 col-xs-12 inputContainer">
                                            <label for="exampleInputPassword1">მეილი</label>
                                            <input type="email" class="form-control" id="exampleInputPassword1" placeholder="მეილი">
                                        </div>
                                        <div class="col-md-4 col-xs-12 inputContainer">
                                            <label for="exampleInputFile">ტელეფონის ნომერი</label>
                                            <input type="text" class="form-control" placeholder="ტელეფონის ნომერი">
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-success success submitForm">დადასტურება</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="thumbnail trips-thumbnail">
                        <img class="pull-left" src="images/system/trip.jpg" alt="...">
                        <div class="caption trips-caption">
                            <h3>TITLE</h3>
                            <p>თბილისი (1936 წლამდე ტფილისი[1][2]) — საქართველოს დედაქალაქი; 1922–1936 წლებში ერთდროულად იყო ამიერკავკასიის სფსრ დედაქალაქი; მდებარეობს აღმოსავლეთ საქართველოში, თბილისის ქვაბულში, მდინარე მტკვრის ორივე სანაპიროზე, ზღვის დონიდან 380–600 მ სიმაღლეზე, ჩრდილოეთით ესაზღვრება საგურამოს ქედის სამხრეთი მთისწინეთი, აღმოსავლეთით — ივრის ზეგნის ჩრდილო-დასავლეთი მონაკვეთი, დასავლეთით და სამხრეთით კი — თრიალეთის ქედის განშტოებები. ქალაქს 720 კმ² ფართობი უჭირავს და 1.152 მილიონზე მეტი მცხოვრები ჰყავს.</p>
                            <button type="button" class="btn btn-primary clicked">დაჯავშნა</button>
                            <div class='hidden trip-form'>
                                <form>
                                    <div class="row">
                                        <div class="col-md-4 inputContainer">
                                            <label for="exampleInputPassword1">სახელი</label>
                                            <input type="text" class="form-control" placeholder="სახელი">
                                        </div>
                                        <div class="col-md-4 inputContainer">
                                            <label for="exampleInputPassword1">გვარი</label>
                                            <input type="text" class="form-control" placeholder="გვარი">
                                        </div>
                                         <div class="col-md-4 inputContainer">
                                            <label for="exampleInputFile">დაბადების თარიღი</label>
                                            <input type="text" class="form-control" placeholder="ტელეფონის ნომერი">
                                        </div>
                                        <div class="col-md-4 inputContainer">
                                            <label for="exampleInputFile">პირადი ნომერი</label>
                                            <input type="text" class="form-control" placeholder="ტელეფონის ნომერი">
                                        </div>
                                        <div class="col-md-4 inputContainer">
                                            <label for="exampleInputPassword1">მეილი</label>
                                            <input type="email" class="form-control" id="exampleInputPassword1" placeholder="მეილი">
                                        </div>
                                        <div class="col-md-4 inputContainer">
                                            <label for="exampleInputFile">ტელეფონის ნომერი</label>
                                            <input type="text" class="form-control" placeholder="ტელეფონის ნომერი">
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-success success submitForm">დადასტურება</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        