
 <div class="container">
        <div class="galery">
            <div class="row">
                <a href="album-galery.html">
                    <div class="galery-album col-md-3 col-sm-6 col-xs-8 col-sm-push-0 col-xs-push-2  min-size">
                        <img src="images/system/samusha1.jpg" alt="..." class="img-thumbnail">
                        <h4 class="album-title text-center">მთვრალი სამუშა</h4>
                    </div>
                </a>
                <a href="album-galery.html">
                    <div class="galery-album col-md-3 col-sm-6 col-xs-8 col-sm-push-0 col-xs-push-2 min-size">
                        <img src="images/system/samusha2.jpg" alt="..." class="img-thumbnail">
                        <h4 class="album-title text-center">მოცეკვავე სამუშა</h4>
                    </div>
                </a>
                <a href="album-galery.html">
                    <div class="galery-album col-md-3 col-sm-6 col-xs-8 col-sm-push-0 col-xs-push-2 min-size">
                        <img src="images/system/samusha3.jpg" alt="..." class="img-thumbnail">
                        <h4 class="album-title text-center">დაღლილი სამუშა</h4>
                    </div>
                </a>
                <a href="album-galery.html">
                    <div class="galery-album col-md-3 col-sm-6 col-xs-8 col-sm-push-0 col-xs-push-2 min-size">
                        <img src="images/system/samusha2.jpg" alt="..." class="img-thumbnail">
                        <h4 class="album-title text-center">მოცეკვავე სამუშა</h4>
                    </div>
                </a>
                <a href="album-galery.html">
                    <div class="galery-album col-md-3 col-sm-6 col-xs-8 col-sm-push-0 col-xs-push-2 min-size">
                        <img src="images/system/samusha2.jpg" alt="..." class="img-thumbnail">
                        <h4 class="album-title text-center">მოცეკვავე სამუშა</h4>
                    </div>
                </a>
                <a href="album-galery.html">
                    <div class="galery-album col-md-3 col-sm-6 col-xs-8 col-sm-push-0 col-xs-push-2 min-size">
                        <img src="images/system/samusha2.jpg" alt="..." class="img-thumbnail">
                        <h4 class="album-title text-center">მოცეკვავე სამუშა</h4>
                    </div>
                </a>
                <a href="album-galery.html">
                    <div class="galery-album col-md-3 col-sm-6 col-xs-8 col-sm-push-0 col-xs-push-2 min-size">
                        <img src="images/system/samusha2.jpg" alt="..." class="img-thumbnail">
                        <h4 class="album-title text-center">მოცეკვავე სამუშა</h4>
                    </div>
                </a>
                <a href="album-galery.html">
                    <div class="galery-album col-md-3 col-sm-6 col-xs-8 col-sm-push-0 col-xs-push-2 min-size">
                        <img src="images/system/samusha2.jpg" alt="..." class="img-thumbnail">
                        <h4 class="album-title text-center">მოცეკვავე სამუშა</h4>
                    </div>
                </a>
                <a href="album-galery.html">
                    <div class="galery-album col-md-3 col-sm-6 col-xs-8 col-sm-push-0 col-xs-push-2 min-size">
                        <img src="images/system/samusha2.jpg" alt="..." class="img-thumbnail">
                        <h4 class="album-title text-center">მოცეკვავე სამუშა</h4>
                    </div>
                </a>
            </div>
        </div>
    </div>